controls {
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-pack: justify;
    -ms-flex-pack   : justify;
    justify-content : space-between;
    margin-bottom   : 36px;

    life-controls {
        display          : -webkit-box;
        display          : -ms-flexbox;
        display          : flex;
        -webkit-box-pack : start;
        -ms-flex-pack    : start;
        justify-content  : flex-start;
        -webkit-box-align: center;
        -ms-flex-align   : center;
        align-items      : center;

        a {
            width           : 24px;
            height          : 21px;
            margin-right    : 2px;
            background-color: transparent;
        }

        [class*=button] {
            margin-right: 10px;
        }

        .clearbutton {
            width             : 20px;
            height            : 20px;
            border-radius     : 2px;
            -webkit-box-sizing: border-box;
            box-sizing        : border-box;
            border            : 2px solid #8a8a00;

            &.pulsor::before {
                content      : '';
                display      : block;
                width        : calc(~'100% + 4px');
                height       : calc(~'100% + 4px');
                margin       : -3px;
                border       : 1px solid whitesmoke;
                border-radius: 3px;
            }

            &:hover {
                border-color: whitesmoke;
            }
        }

        .startbutton {
            position: relative;
            width   : 33px;

            &::after, &::before {
                content     : '';
                display     : block;
                position    : absolute;
                left        : 0;
                top         : 0;
                width       : 0;
                height      : 0;
                border-style: solid;
                border-width: 10px 0 10px 17.3px;
                border-color: transparent transparent transparent #8a8a00;
            }

            &::after {
                right: 0;
                left : auto;
            }

            &:hover {
                &::after, &::before {
                    border-left-color: whitesmoke;
                }
            }

        }

        .stopbutton {
            width             : 20px;
            height            : 20px;
            border-radius     : 2px;
            -webkit-box-sizing: border-box;
            box-sizing        : border-box;
            border            : 2px solid #8a8a00;
            background-color  : #8a8a00;

            &:hover {
                border-color    : whitesmoke;
                background-color: whitesmoke;
            }
        }

        .stepbutton {
            width       : 0;
            height      : 0;
            border-style: solid;
            border-width: 10px 0 10px 17.3px;
            border-color: transparent transparent transparent #8a8a00;

            &:hover {
                border-left-color: whitesmoke;
            }
        }

        .trails {
            margin-left: 20px;
        }

        .pulsor:not(:hover), .pulsor:not(:hover)::after, .pulsor:not(:hover)::before {
            -webkit-box-shadow: 0 0 30px whitesmoke;
            box-shadow        : 0 0 30px whitesmoke;
            -webkit-animation : pulsate 1s infinite alternate;
            -moz-animation    : pulsate 1s infinite alternate;
            -animation        : pulsate 1s infinite alternate;
        }
        @-webkit-keyframes pulsate {
            from {
                -webkit-box-shadow: 0 0 10px rgba(255,255,255,0);
                box-shadow        : 0 0 10px rgba(255,255,255,0);
            }

            to {
                -webkit-box-shadow: 0 0 20px rgba(255,255,255,1);
                box-shadow        : 0 0 20px rgba(255,255,255,1);
            }
        }
        @keyframes pulsate {
            from {
                -webkit-box-shadow: 0 0 10px rgba(255,255,255,0);
                box-shadow        : 0 0 10px rgba(255,255,255,0);
            }

            to {
                -webkit-box-shadow: 0 0 20px rgba(255,255,255,1);
                box-shadow        : 0 0 20px rgba(255,255,255,1);
            }
        }
    }
}
