controls {
    display        : flex;
    justify-content: space-between;

    life-controls {
        display        : flex;
        justify-content: flex-start;
        align-items    : center;

        a {
            width           : 24px;
            height          : 21px;
            margin-right    : 2px;
            background-color: transparent;
        }

        label {
            font-size: 14px;
        }

        [type=checkbox] {
            transform: scale(0.000001);

            &+label {
                display         : flex;
                font-weight     : bold;
                color           : #dd0;
                background-color: #8a8a00;
                height          : 21px;
                line-height     : 21px;
                padding         : 0 20px 0 10px;
                border-radius   : 2px;
                margin-right    : 20px;
                cursor          : pointer;

                &::before {
                    content: '√';
                    flex   : 1 0 15px;
                    opacity: 0;
                }

                &::after {
                    content: '';
                    flex   : 0 0 1px;
                    opacity: 0;
                }
            }

            &:checked {
                &+label {
                    color: whitesmoke;

                    &::after, &::before {
                        opacity: 1;
                    }
                }
            }

        }

        [class*=button] {
            margin-right: 10px;
        }

        .clearbutton {
            width        : 20px;
            height       : 20px;
            border-radius: 2px;
            box-sizing   : border-box;
            border       : 2px solid #8a8a00;

            &:hover {
                border-color: whitesmoke;
            }
        }

        .startbutton {
            position: relative;
            width   : 33px;

            &::after, &::before {
                content     : '';
                display     : block;
                position    : absolute;
                left        : 0;
                top         : 0;
                width       : 0;
                height      : 0;
                border-style: solid;
                border-width: 10px 0 10px 17.3px;
                border-color: transparent transparent transparent #8a8a00;
            }

            &::after {
                right: 0;
                left : auto;
            }

            &:hover {
                &::after, &::before {
                    border-left-color: whitesmoke;
                }
            }

        }

        .stopbutton {
            width           : 20px;
            height          : 20px;
            border-radius   : 2px;
            box-sizing      : border-box;
            border          : 2px solid #8a8a00;
            background-color: #8a8a00;

            &:hover {
                border-color    : whitesmoke;
                background-color: whitesmoke;
            }
        }

        .stepbutton {
            width       : 0;
            height      : 0;
            border-style: solid;
            border-width: 10px 0 10px 17.3px;
            border-color: transparent transparent transparent #8a8a00;

            &:hover {
                border-left-color: whitesmoke;
            }
        }

        .pulsor:not(:hover), .pulsor:not(:hover)::after, .pulsor:not(:hover)::before {
            box-shadow       : 0 0 30px rgba(255,255,255,1);
            -webkit-animation: pulsate 1s infinite alternate;
            -moz-animation   : pulsate 1s infinite alternate;
            -animation       : pulsate 1s infinite alternate;
        }
        @-webkit-keyframes pulsate {
            from {
                box-shadow: 0 0 10px rgba(255,255,255,0);
            }

            to {
                box-shadow: 0 0 20px rgba(255,255,255,1);
            }
        }
        @-moz-keyframes pulsate {
            from {
                box-shadow: 0 0 10px rgba(255,255,255,0);
            }

            to {
                box-shadow: 0 0 20px rgba(255,255,255,1);
            }
        }
        @keyframes pulsate {
            from {
                box-shadow: 0 0 10px rgba(255,255,255,0);
            }

            to {
                box-shadow: 0 0 20px rgba(255,255,255,1);
            }
        }
    }
}
