main {
    display         : block;
    width           : 750px;
    padding         : 50px;
    background-color: #dd0;
}

h1 {
    font-weight: bold;
    font-size  : 24px;
    line-height: 24px;
}
